MONGO_URI=your_mongodb_connection_string
PORT=8000

JWT_SECRET=your_jwt_secret
JWT_REFRESH_SECRET=your_jwt_refresh_secret

# Gemini AI
GEMINI_API_KEY=your_gemini_key

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Email
RESEND_API_KEY=your_resend_api_key
RESEND_MAILER_SENDER=your_email@example.com

# Frontend
FRONTEND_ORIGIN=http://localhost:5173
